.footer{
    border-top: 1px solid lightgrey;
    padding: 20px;
    background-color: #f7f7f7;
    bottom: 0;
    text-align: center;
    position: relative;
    bottom: 0;
    justify-content: center;
    /* display: flex; */
}

.footer__list, footer > div{
    display: flex;
    gap: 4px;
    justify-content: center;
    list-style-type: none;
    color: black;
    flex-wrap: wrap;
}
.footer__list > li > a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(39, 38, 38);  
}
.footer__list > li > a:hover{
    text-decoration: underline;
    color: #666;
}

.footer > p {
    padding: 5px;
    font-size: 14px;
} 